<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
</head>
<body>
    <h1>Выберите действие:</h1>
    <div>
        <a href="/routes_list">Список маршрутов</a>
    </div>
    <div>
        <a href="/route_form">Добавление маршрута</a>
    </div>
    <div>
        <a href="/export_routes">Экспорт маршрутов</a>
    </div>
    <div>
        <a href="/import_routes">Импорт маршрутов</a>
    </div>
</body>
</html>