<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
</head>
<body>
    <h1>Выберите действие:</h1>
    <div>
        <a href="/vehicles_list">Список транспортных средств</a>
    </div>
    <div>
        <a href="/vehicle_form">Добавление транспортного средства</a>
    </div>
    <div>
        <a href="/export_vehicles">Экспорт транспортных средств</a>
    </div>
    <div>
        <a href="/import_vehicles">Импорт транспортных средств</a>
    </div>
</body>
</html>